<div class="row" *ngIf="member">
	<div class="col-4">
		<div class="card">
			<img src="{{member.photoUrl || './assets/user.png'}}" onerror="this.onerror=null; this.src='./assets/user.png'"
				alt="{{member.knownAs}}" class="card-img-top img-thumbnail">
			<div class="card-body">
				<div>
					<strong>Location</strong>
					<p>{{member.city}}, {{member.country}}</p>
				</div>
				<div>
					<strong>Age: </strong>
					<p>{{member.age}}</p>
				</div>
				<div>
					<strong>Member since</strong>
					<p>{{member.created | date:'fullDate'}}</p>
				</div>
				<div>
					<strong>Last Active</strong>
					<p>{{(member.lastActive) | timeago}}</p>
				</div>
			</div>
			<div class="card-footer">
				<div class="btn-group d-flex">
					<button class="btn btn-danger" (click)="addLike(member)">
						Like
						<i class="fa fa-heart"></i>
					</button>
					<button class="btn btn-success" [routerLink]="'/members/'+member.userName"
						routerLinkActive="router-link-active" [queryParams]="{tab: 'message'}">
						Message
						<i class="fa fa-envelope"></i>
					</button>
				</div>
			</div>
		</div>
	</div>

	<div class="col-8">
		<mat-tab-group [selectedIndex]="tabIndex">
			<mat-tab label="About {{member.knownAs}}">
				<div>
					<h4>Description</h4>
					<p>{{member.introduction}}</p>
				</div>
				<div>
					<h4>Looking For</h4>
					<p>{{member.lookingFor}}</p>
				</div>
			</mat-tab>
			<mat-tab label="Interests">
				<h4>Interests</h4>
				<p>{{member.interests}}</p>
			</mat-tab>
			<mat-tab label="Photos">
				<h4>Photos</h4>
				<lightgallery [settings]="settings" [onInit]="onInit">
					<a *ngFor="let item of member.photos" className="gallery-item" [attr.href]="item.url">
						<img className="img-responsive" style="width: 30%; 
								aspect-ratio: 1/1; 
								object-fit: cover; 
								border-radius: 4px; 
								margin-right: 8px;
								margin-bottom: 8px;" src="{{ item.url }}" />
					</a>
				</lightgallery>

			</mat-tab>
			<mat-tab label="Messages">
				<ng-template matTabContent>
					<app-member-messages [username]="member.userName"></app-member-messages>
				</ng-template>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>