<div class="text-center mt-3">
	<h2>{{likeParams.predicate === 'liked' ? 'Member I like' : 'Member who like me'}}</h2>
</div>

<div class="container text-center">
	<button type="button" [class]="{
		'btn': true,
		'btn-primary': likeParams.predicate === 'liked',
		'btn-outline-primary': likeParams.predicate !== 'liked',
	}" (click)="setPredicate('liked')" style="border-top-right-radius: 0%; border-bottom-right-radius: 0;">
		Members I like</button>
	<button type="button" [class]="{
		'btn': true,
		'btn-primary': likeParams.predicate === 'likedBy',
		'btn-outline-primary': likeParams.predicate !== 'likedBy',
	}" (click)="setPredicate('likedBy')" style="border-top-left-radius: 0%; border-bottom-left-radius: 0;">
		Members who like me</button>
</div>

<div class="row m-3">
	<div *ngFor="let member of members" class="col-2">
		<app-member-card [member]="member"></app-member-card>
	</div>
</div>

<mat-paginator *ngIf="(pagination?.totalItems || 0)> 0" #paginator class="demo-paginator"
	(page)="handlePageEvent($event)" [length]="pagination?.totalItems" [pageSize]="likeParams.pageSize"
	[hidePageSize]="true" [pageIndex]="(pagination?.currentPage || 1) - 1" aria-label="Select page"
	[showFirstLastButtons]="true">
</mat-paginator>